@reference "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global styles */
html, body, #root {
    height: 100%;
}


body {
    @apply bg-cyan-950 text-zinc-100 antialiased;
}


::-webkit-scrollbar {
    width: 8px;
}


::-webkit-scrollbar-track {
    background: #09090b;
}


::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
}